<div class="pt-5">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="monsters"
            (click)="categorySelected($event)">
        <label class="form-check-label" for="inlineRadio1">Monsters</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="characters"
            (click)="categorySelected($event)">
        <label class="form-check-label" for="inlineRadio2">Characters</label>
    </div>
</div>